alias ls='ls -GFh' # color coding
alias lss='du -hs .'
alias grepr='grep -irn $1 $2' # [expression, directory] recursive grep with line numbers

alias ss='m screensaver' # m-cli screensaver https://github.com/rgcr/m-cli
alias market="cd ~/Code/marketplace/"
alias mp_nginx_config='sudo vi /usr/local/etc/nginx/servers/marketplace.conf'
alias clean_npm_install='rm -rf node_modules/ && npm cache clean && npm install'
