#!/usr/bin/env bash

alias ls='ls -GFh' # color coding
alias lss='du -hs .'
alias la="ls -A"
alias ll="ls -Al"

alias grepr='grep -irn $1 $2' # [expression, directory] recursive grep with line numbers

alias fit="git fetch -p"

alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

alias ss='m screensaver' # m-cli screensaver https://github.com/rgcr/m-cli

alias ..='ccd ../'
alias ...='ccd ../../'
alias ....='ccd ../../../'
alias .....='ccd ../../../../'

alias work="cd ~/code/workspace/"
