export FOO_DB_URL="https://db.foo.com/foobarbaz_db"
export FOO_DB_USER="bar"
export FOO_DB_PASSWORD="stopitalice"
export FOO_DEPLOY_KEY="barbazquux"

export PATH="/usr/local/bin:$PATH"

git config --global user.email "email@address.com"
