RED='\033[0;31m'
BLUE='\033[0;34m'
NC='\033[0m' # No Color

reload_shell () {
    echo "Reloading shell...";

	source ~/.bash_profile;

	echo "Shell has been reloaded";
}

# sync all git repositories in the $WORKSPACE directory (exported from .extra)
# git sync is a git alias:
#	 !git checkout master && git pull --ff-only upstream master && git push origin master
workspace_sync () {
	echo "";

	local INIT_DIR=$PWD;

	for dir in $WORKSPACE/*; do
		cd $dir;

		if [ -d ".git" ]; then
            echo "";
            printf "${BLUE}Syncing $dir${NC}\n";
			git sync && git fetch -p
			echo "";
		fi
	done
	unset dir

	cd $INIT_DIR;
}

# print directory contents permissions as an octal
perms () {
    stat -f '%A %N' *
}

# run individual nautilus test. Must be run from nautilus project root for autocomplete
nautilus_test () {
	local TEST_FILE_PATH=$1;

	./node_modules/.bin/mocha --timeout 5000 --compilers js:babel/register --recursive --require ./ ./$TEST_FILE_PATH
}

parse_git_branch() {
     git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}

curl_postf() {
	curl -i -X POST -H "Conent-Type: multipart/form-data" -F "data=@$1" $2 #[abs file path, url]
}

personal_github() {
  git config --global user.email $PERSONAL_EMAIL
  echo "setting git global user email to $(git config --global user.email)"
}

work_github() {
  git config --global user.email $WORK_EMAIL
  echo "setting git global user email to $(git config --global user.email)"
}

ssh-docker() {
    local DOCKER_CONTAINER_ID=$1

    docker exec -it $DOCKER_CONTAINER_ID /bin/bash
}

work_github
